<h2><center> Forecasting Academic Trajectories: Predicting Students Success</h2></center>
<figure>
<center><img src ="https://www.aacrao.org/images/default-source/connect-images/connect-student-success.jpg?sfvrsn=d2f12ede_3" width = "750" height = '500' alt="unsplash.com"/>

## Author: Umar Kabir

Date: [July, 2023]

<a id='table-of-contents'></a>
# Table of Contents

1. [Introduction](#introduction)
    - Motivation
    - Problem Statement
    - Objective
    - Data Source
    - Importing Dependencies  


2. [Data](#2-data)
    - Data Loading
    - Dataset Overview


3. [Exploratory Data Analysis](#exploratory-data-analysis)
    - Descriptive Statistics
    - Data Visualization
    - Correlation Analysis
    - Outlier Detection


4. [Data Preparation](#data-preparation)
    - Data Cleaning
    - Handling Missing Values
    - Handling Imbalanced Classes
    - Feature Selection
    - Feature Engineering
    - Data Transformation
    - Data Splitting


5. [Model Development](#model-development)
    - Baseline Model
    - Model Selection
    - Model Training
    - Hyperparameter Tuning


6. [Model Evaluation](#model-evaluation)
    - Performance Metrics
    - Confusion Matrix
    - ROC Curve
    - Precision-Recall Curve
    - Cross-Validation
    - Bias-Variance Tradeoff


7. [Model Interpretation](#model-interpretation)
    - Feature Importance
    - Model Explanation Techniques
    - Business Impact Analysis


8. [Conclusion](#conclusion)
    - Summary of Findings
    - Recommendations
    - Limitations
    - Future Work
    - Final Thoughts


9. [References](#references)

<a id='introduction'></a>
<font size="+2" color='#053c96'><b> Introduction</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Motivation</b></font>  

The motivation behind this project on predicting students dropout and academic success stems from various factors. Here are a some motivations:

1. Improving Educational Support: By accurately predicting students who are at risk of dropping out or struggling academically, educational institutions can provide targeted interventions and support systems to help these students succeed. This project aims to empower educators and administrators with data-driven insights to proactively address student needs.

2. Resource Optimization: Dropout rates and academic underperformance can lead to wasted resources for educational institutions. By identifying students who are likely to drop out or face challenges, schools can allocate resources more efficiently, such as providing additional tutoring or counseling services, to prevent dropout and promote academic success.

3. Enhancing Graduation Rates: Increasing graduation rates is a key goal for educational institutions. By understanding the factors that contribute to dropout and success, this project can assist in developing effective strategies and interventions to improve graduation rates and ensure more students complete their educational journeys.

4. Personalized Education: Every student has unique needs and learning styles. By predicting students' academic success and dropout risk, educators can tailor their teaching approaches and curriculum to cater to individual students' strengths and weaknesses, fostering a more personalized and effective learning environment.

5. Data-Driven Decision Making: In the era of big data, leveraging data science techniques to analyze student-related data can provide valuable insights for educational policymakers and administrators. Predictive models can inform evidence-based decision making, enabling educational institutions to implement targeted interventions, allocate resources effectively, and design policies that foster student success.

Overall, the motivation behind this project is to leverage data science and predictive modeling to improve educational outcomes, reduce dropout rates, and ensure that students receive the necessary support to thrive academically.

<font size="+0" color='green'><b> Problem Statement</b></font>  

"Given the dataset contains information about students, including demographic data, academic performance, socio-economic factors, and other relevant features, the goal of this project is to develop a predictive model that can accurately classify students into two categories: those at risk of dropping out and those likely to succeed academically. By utilizing machine learning algorithms and data analysis techniques, the project aims to identify key factors and patterns that contribute to dropout and academic success, providing valuable insights for educational institutions to implement proactive measures and interventions to support at-risk students and enhance overall student outcomes."

In summary, the problem statement revolves around developing a predictive model that can effectively predict which students are at risk of dropping out and which students are likely to succeed academically. The project aims to leverage data science techniques to identify crucial factors that influence these outcomes and provide actionable insights to educational institutions to improve student support and enhance overall academic success.

<font size="+0" color='green'><b> Objectives</b></font>  

- Build a robust predictive model that accurately classifies students into two categories: those at risk of dropping out and those likely to succeed academically.
- Identify and analyze key factors that contribute to student dropout and academic success through exploratory data analysis and feature engineering.
- Evaluate and compare the performance of different machine learning algorithms in predicting student outcomes.
- Develop strategies to handle imbalanced classes to ensure accurate predictions for both minority and majority classes.
- Implement appropriate data preprocessing techniques, including data cleaning, handling missing values, and feature scaling, to ensure high-quality input for the predictive model.
- Assess the impact of various features on the prediction of student outcomes using feature importance analysis and statistical measures.
- Interpret and communicate the results of the predictive model to stakeholders, such as educators, administrators, and policymakers, in a clear and actionable manner.
- Provide insights and recommendations to educational institutions for proactive interventions, resource allocation, and personalized support to improve student success rates and reduce dropout rates.
- Explore the ethical considerations and potential biases in the predictive model to ensure fairness and equity in decision-making processes.
- Conduct thorough model evaluation using appropriate performance metrics, such as accuracy, precision, recall, and F1-score, to assess the effectiveness and reliability of the predictive model.
- Document the project process, including data preprocessing, model development, evaluation, and interpretation, to facilitate reproducibility and future extensions of the work.

<font size="+0" color='green'><b> Data Source</b></font>  

The dataset used in this project is sourced from a higher education institution and can be accessed from the UCI Machine Learning Repository. The dataset was created by acquiring data from several disjoint databases related to students enrolled in various undergraduate degrees such as agronomy, design, education, nursing, journalism, management, social service, and technologies. It includes information known at the time of student enrollment, including academic path, demographics, and socio-economic factors. Additionally, the dataset incorporates the students' academic performance at the end of the first and second semesters.

The purpose of creating this dataset is to contribute to the reduction of academic dropout and failure in higher education by leveraging machine learning techniques to identify students at risk at an early stage of their academic journey. By identifying at-risk students, appropriate strategies and interventions can be implemented to support their educational progress.

The dataset is formulated as a three-category classification task, categorizing students into dropout, enrolled, and graduate classes at the end of the normal duration of the course. It is important to note that the dataset exhibits a strong class imbalance.

The creation of this dataset was supported by the program SATDAP - Capacitação da Administração Pública under grant POCI-05-5762-FSE-000191 in Portugal.

The dataset has been subjected to recommended data splits, where 80% of the data was used for training and 20% for testing purposes.

Data preprocessing has been conducted on the dataset to address anomalies, unexplainable outliers, and missing values.

The dataset has already been used in a pilot project, enabling the tutoring team at the higher education institution to estimate the risk of dropout and failure among students. This information has been instrumental in providing more accurate assistance and support to students by the tutoring team.

<font size="+0" color='green'><b> Importing Dependencies</b></font>

In [1]:
import sys
# Insert the parent path relative to this notebook so we can import from the src folder.
sys.path.insert(0, "..")

from src.dependencies import *

<a id='#data'></a>
<font size="+2" color='#053c96'><b> Data</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Data Loading</b></font>

In [2]:
df = pd.read_csv('../src/data/data.csv', delimiter=';')

<font size="+0" color='green'><b> Data Overview</b></font>

In [3]:
df.shape

(4424, 37)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [5]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

<a id='exploratory-data-analysis'></a>
<font size="+2" color='#053c96'><b> Exploratory Data Analysis</b></font>  
[back to top](#table-of-contents)

<a id='data-exploration'></a>
<font size="+0" color='green'><b> Data Exploration</b></font>

In [10]:
df['Marital status'].value_counts()

1    3919
2     379
4      91
5      25
6       6
3       4
Name: Marital status, dtype: int64

1. – single 
2. – married 
3. – widower 
4. – divorced 
5. – facto union 
6. – legally separated

In [9]:
df['Application mode'].value_counts()

1     1708
17     872
39     785
43     312
44     213
7      139
18     124
42      77
51      59
16      38
53      35
15      30
5       16
10      10
2        3
57       1
26       1
27       1
Name: Application mode, dtype: int64

- 1 - 1st phase - general contingent 
- 2 - Ordinance No. 612/93 
- 5 - 1st phase - special contingent (Azores Island) 
- 7 - Holders of other higher courses 
- 10 - Ordinance No. 854-B/99 
- 15 - International student (bachelor) 
- 16 - 1st phase - special contingent (Madeira Island) 
- 17 - 2nd phase - general contingent 
- 18 - 3rd phase - general contingent 
- 26 - Ordinance No. 533-A/99, item b2) (Different Plan) 
- 27 - Ordinance No. 533-A/99, item b3 (Other Institution) 
- 39 - Over 23 years old 
- 42 - Transfer 
- 43 - Change of course 
- 44 - Technological specialization diploma holders 
- 51 - Change of institution/course 
- 53 - Short cycle diploma holders 
- 57 - Change of institution/course (International)

In [11]:
df['Application order'].value_counts()

1    3026
2     547
3     309
4     249
5     154
6     137
9       1
0       1
Name: Application order, dtype: int64

Application order (between 0 - first choice; and 9 last choice)

<a id='data-visualization'></a>
<font size="+0" color='green'><b> Data Visualization</b></font>

<a id='summary-statistics'></a>
<font size="+0" color='green'><b> Summary Statistics</b></font>

<a id='feature-correlation'></a>
<font size="+0" color='green'><b> Feature Correlation</b></font>

<a id='data-preparation'></a>
<font size="+2" color='#053c96'><b> Data Preparation</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Data CLeaning</b></font>

<font size="+0" color='green'><b> Handling Imbalanced Classes</b></font>

<font size="+0" color='green'><b> Feature Engineering</b></font>

<font size="+0" color='green'><b> Feature Selection</b></font>

<font size="+0" color='green'><b> Data Transformation</b></font>

<font size="+0" color='green'><b> Data Splitting</b></font>

<a id='model-development'></a>

<font size="+2" color='#053c96'><b> Model Development</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Baseline Model</b></font>

<font size="+0" color='green'><b> Model Selection</b></font>

<font size="+0" color='green'><b> Model Training</b></font>

<font size="+0" color='green'><b> Hyperparameter Tuning</b></font>

<a id='model-evaluation'></a>

<font size="+2" color='#053c96'><b> Model Evaluation</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Performance Metrics</b></font>

<font size="+0" color='green'><b> Confusion Matrix</b></font>

<font size="+0" color='green'><b> ROC Curve</b></font>

<font size="+0" color='green'><b> Precision-Recall Curve</b></font>

<font size="+0" color='green'><b> Cross-Validation</b></font>

<font size="+0" color='green'><b> Bias-Variance Tradeoff</b></font>

<a id='model-interpretation'></a>
<font size="+2" color='#053c96'><b> Model Interpretation</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Feature Importance</b></font>

<font size="+0" color='green'><b> Model Explanation Techniques</b></font>

<font size="+0" color='green'><b> Business Impact Analysis</b></font>

<a id='conclusion'></a>

<font size="+2" color='#053c96'><b> Conclusion</b></font>  
[back to top](#table-of-contents)

<font size="+0" color='green'><b> Summary of Findings</b></font>

<font size="+0" color='green'><b> Recommendations</b></font>

<font size="+0" color='green'><b> Limitations</b></font>

<font size="+0" color='green'><b> Future Work</b></font>

<font size="+0" color='green'><b> Final Thoughts</b></font>

<a id='references'></a>

<font size="+2" color='#053c96'><b> References</b></font>  
[back to top](#table-of-contents)